........................#
......................#.#
............##......##............##
...........#...#....##............##
##........#.....#...##
##........#...#.##....#.#
..........#.....#.......#
...........#...#
............##
//Dots (any other character) are completely optional, anything but CELLCHAR is ignored
